*{
    margin: 0;
  }
  /* header{
    width: 100%;
    border: 2px solid black;
  } */
  .navbar-light {
    color: azure;
    position: absolute;
    top: 20px;
    right: 0;
  }
  .navbar-light > .container{
  
    text-align: center;
    
  }
  .navbar-light > .container > h4{
      background-color: black;
      font-weight: bold;
      width: 180px;
      padding: 10px 0;
      border-radius: 20px;
  }
  
  p{
    margin-top: 2%;
    font-size: large;
  }
  
  
  /* ==================================== */
    .outer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
    }
    .inner>header{
      width: 100%;
  
      
      margin-bottom: 10%;
      border-bottom: 1px solid black;
    }
  
     img{
       width: 20%;
       margin-bottom: 1%;
       margin-left: 40%;
     }
    .inner {
      width: 500px;
      margin-left: 33%;
      margin-bottom: 10%;
      /* margin: auto; */
      background: #ffffff;
      /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
      padding: 40px 55px 45px 55px;
      border-radius: 50px;
      /* transition: all .3s; */
      
    }
  
    
    
    
    .outer .form-control:focus {
      border-color: #3516ff;
      box-shadow: none;
    
  
    }
    p .check {
      color: red;
      border: 2px solid black;
    }
    .outer h6 {
      color: black;
      font-weight: 250;
      font-size: 0.84pc;
      /* margin-bottom: 10%; */
      
      margin-top: 5%;
      /* line-height: 1; */
      padding-bottom: 20px;
    }
    .a{
      text-decoration: none;
      margin-left: 33%;
      margin-top: 8%;
    }
    
    label{
      font-weight: 600;
      
    }
  
    
  .butt-s,
  .butt-s{
    background-color: rgb(90, 90, 234) ;
    color: white;
    text-align: center;
    width: 90%;
    margin-left: 5%;
  }
    .forgot-password,
    .forgot-password{
      text-align: center;
      font-size: 13px;
      padding-top: 10px;
      color: black;
      margin: 0;
      cursor: pointer;
    }
    
    .forgot-password a {
      color: #167bff;
      text-align: center;
    }
   